<footer{{ attributes.addClass('fr-footer').setAttribute('role', 'contentinfo').setAttribute('id', 'footer') }}>
   {{ top }}
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        {% if not operator_logo %}
          <a href="/" title="{{ 'Back to home - @name'|t({'@name': service_title}) }}">
        {% endif %}
        <p class="fr-logo">
          {{ logo|default("République\nFrançaise")|nl2br }}
        </p>
        {% if not operator_logo %}
          </a>
        {% endif %}
        {% if operator_logo %}
          <a class="fr-footer__brand-link" href="/" title="{{ 'Back to home - @name'|t({'@name': service_title}) }}">
            {{ operator_logo }}
          </a>
        {% endif %}
      </div>
      {% if content or content_desc %}
        <div class="fr-footer__content">
          {% if content_desc %}
          <div class="fr-footer__content-desc">{{ content_desc }}</div>
          {% endif %}
          {{ content }}
        </div>
      {% endif %}
    </div>
    {{ partners }}
    {% if bottom or bottom_copy %}
      <div class="fr-footer__bottom">
        {{ bottom }}
        {% if bottom_copy %}
        <div class="fr-footer__bottom-copy">
          <div>{{ bottom_copy }}</div>
        </div>
        {% endif %}
      </div>
    {% endif %}
  </div>
</footer>

