{#
/**
 * @file
 * Default template for Footer ui pattern.
 *
 * Available variables:
 * - top_links: Lists of links can be categorized.
 * - operator_logo: Operator logo image render.
 * - presentation_text: A presentation rendered text.
 * - ecosystem_links: 4 institutional ecosystem reference links.
 * - partners: Array with partners. Can have two elements: 'main' and 'sub'.
 * - legal_links: The list of links related to legal obligations.
 * - license: A mention of the license.
 * - service_title: Name of the site.
 * - attributes: HTML attributes.
 *
 * @ingroup themeable
 */
#}
<footer{{ attributes.addClass('fr-footer').setAttribute('role', 'contentinfo').setAttribute('id', 'footer') }}>
  {% if top_links %}
    <div class="fr-footer__top">
    <div class="fr-container">
      <div class="fr-grid-row fr-grid-row--start fr-grid-row--gutters">
        {% for top_link in top_links %}
          <div class="fr-col-12 fr-col-sm-3 fr-col-md-2">
          {% if top_link.category %}
            <h3 class="fr-footer__top-cat">{{ top_link.category }}</h3>
          {% endif %}
          <ul class="fr-footer__top-list">
            {% for top_link_item in top_link.links %}
              <li>
                {% set url = top_link_item.url ?: top_link_item.attributes.href %}
                <a{{ top_link_item.attributes.addClass('fr-footer__top-link').setAttribute('href', url) }}>{{ top_link_item.label }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        {% if operator_logo is empty %}
          <a href="/" title="{{ 'Back to home - @name'|t({'@name': service_title}) }}">
        {% endif %}
          <p class="fr-logo" title="{{ 'French Republic'|t }}">
            république
            <br>française
          </p>
        {% if operator_logo is empty %}
          </a>
        {% endif %}
        {% if operator_logo %}
          <a class="fr-footer__brand-link" href="/" title="{{ 'Back to home - @name'|t({'@name': service_title}) }}">
            {{ operator_logo }}
          </a>
        {% endif %}
      </div>
      <div class="fr-footer__content">
        {% if presentation_text %}
          <p class="fr-footer__content-desc">{{ presentation_text }}</p>
        {% endif %}
        <ul class="fr-footer__content-list">
          {% for e_link in ecosystem_links %}
            <li class="fr-footer__content-item">
              {% set url = e_link.url ?: e_link.attributes.href %}
              <a{{ e_link.attributes.addClass('fr-footer__content-link').setAttribute('href', url) }}>{{ e_link.label }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if partners %}
      <div class="fr-footer__partners">
        <h4 class="fr-footer__partners-title">{{ 'Our partners'|t }}</h4>
        <div class="fr-footer__partners-logos">
          {% if partners.main %}
            <div class="fr-footer__partners-main">
              {% for main in partners.main %}
                {% set url = main.url ?: main.attributes.href %}
                <a{{ main.attributes.addClass('footer__partners-link').setAttribute('href', url) }}>
                  {{ main.logo }}
                </a>
              {% endfor %}
            </div>
          {% endif %}
          {% if partners.sub %}
            <div class="fr-footer__partners-sub">
              <ul>
                {% for sub in partners.sub %}
                  <li>
                    {% set url = sub.url ?: sub.attributes.href %}
                    <a{{ sub.attributes.addClass('footer__partners-link').setAttribute('href', url) }}>
                      {{ sub.logo }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="fr-footer__bottom">
      <ul class="fr-footer__bottom-list">
        {% for l_link in legal_links %}
          <li class="fr-footer__bottom-item">
            {% set url = l_link.url ?: l_link.attributes.href %}
            <a{{ l_link.attributes.addClass('fr-footer__bottom-link').setAttribute('href', url) }}>{{ l_link.label }}</a>
          </li>
        {% endfor %}
      </ul>
      {% if license %}
        <div class="fr-footer__bottom-copy">
          {{ license }}
        </div>
      {% endif %}
    </div>
  </div>
</footer>

