{#
/**
 * @file
 * Default template for Footer ui pattern.
 *
 * Available variables:
 * - top: Top content render.
 * - operator_logo: Operator logo image render.
 * - content: Main content render.
 * - partners: Partners render.
 * - bottom: Bottom content render.
 * - service_title: Name of the site.
 * - attributes: HTML attributes.
 *
 * @ingroup themeable
 */
#}
<footer{{ attributes.addClass('fr-footer').setAttribute('role', 'contentinfo').setAttribute('id', 'footer') }}>
  {% if top %}
    <div class="fr-footer__top">
      {{ top }}
    </div>
  {% endif %}
  <div class="fr-container">
    <div class="fr-footer__body">
      <div class="fr-footer__brand fr-enlarge-link">
        {% if operator_logo is empty %}
          <a href="/" title="{{ 'Back to home - @name'|t({'@name': service_title}) }}">
        {% endif %}
          <p class="fr-logo" title="{{ 'French Republic'|t }}">
            république
            <br>française
          </p>
        {% if operator_logo is empty %}
          </a>
        {% endif %}
        {% if operator_logo %}
          <a class="fr-footer__brand-link" href="/" title="{{ 'Back to home - @name'|t({'@name': service_title}) }}">
            {{ operator_logo }}
          </a>
        {% endif %}
      </div>
      {% if content %}
        <div class="fr-footer__content">
          {{ content }}
        </div>
      {% endif %}
    </div>
    {% if partners %}
      <div class="fr-footer__partners">
        {{ partners }}
      </div>
    {% endif %}
    {% if bottom %}
      <div class="fr-footer__bottom">
        {{ bottom }}
      </div>
    {% endif %}
  </div>
</footer>

