{% if variant is not empty and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('fr-tile--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if enlarge_link %}
  {% set attributes = attributes.addClass('fr-enlarge-link') %}
{% endif %}

{% if grey_hover %}
  {% set attributes = attributes.addClass('fr-tile--grey') %}
{% endif %}

{% if display_md %}
  {% set attributes = attributes.addClass('fr-tile--' ~ display_md ~ '-md') %}
{% endif %}

{% set title_tag = title_tag ?? 'h4' %}

{% if title %}
  <div{{ attributes.addClass('fr-tile') }}>
    <div class="fr-tile__body">
      <{{ title_tag }} class="fr-tile__title">
        {{ title }}
      </{{ title_tag }}>
      {% if description %}<p class="fr-tile__desc">{{ description }}</p>{% endif %}
    </div>
    {% if image %}
      <div class="fr-tile__img">
        {{ image }}
      </div>
    {% endif %}
  </div>
{% endif %}
