{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('fr-sidemenu--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}

{% if position and position|lower != 'default' %}
  {% set attributes = attributes.addClass('fr-sidemenu--' ~ position) %}
{% endif %}

{% if not html_id %}
  {% set html_id = 'sidemenu-' ~ random() %}
{% endif %}
<nav{{ attributes.addClass('fr-sidemenu') }} role="navigation" aria-label="{{ menu_name }}" id="{{ html_id|clean_id }}">
  <div class="fr-sidemenu__inner">
    <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper-{{ html_id|clean_id }}" aria-expanded="false">{{ 'In this section'|t }}</button>
    <div class="fr-collapse" id="fr-sidemenu-wrapper-{{ html_id|clean_id }}">
      <div class="fr-sidemenu__title">{{ title }}</div>
      {{ _self.menu_links(items, attributes, 0) }}
    </div>
  </div>
</nav>

{% macro menu_links(items, attributes, menu_level) %}
  {% if items %}
    <ul class="fr-sidemenu__list">
      {% for item in items %}
          <li class="fr-sidemenu__item">
          {% if item.below %}
            {% set item_id = 'fr-sidemenu-item-' ~ loop.index ~ '-' ~ random() %}
            <button class="fr-sidemenu__btn" aria-expanded="false" aria-controls="{{ item_id }}"{% if item.in_active_trail %} aria-current="page"{% endif %}>{{ item.title }}</button>
            <div class="fr-collapse" id="{{ item_id }}">
              {{ _self.menu_links(item.below, attributes, menu_level + 1) }}
            </div>
          {% else %}
              <a class="fr-sidemenu__link" href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
