{% if icon is not empty %}
  {% set attributes = attributes.addClass(icon) %}
{% endif %}
{% if color_schema %}
  {% set attributes = attributes.addClass('fr-callout--' ~ color_schema) %}
{% endif %}

{% set title_tag = title_tag ?: 'p' %}
{% set text_tag = text_tag ?: 'p' %}

<div{{ attributes.addClass('fr-callout') }}>
  {% if title %}
    <{{ title_tag }} class="fr-callout__title">
      {{ title }}
    </{{ title_tag }}>
  {% endif %}
  <p class="fr-callout__text">
    {{ text }}
  </p>
  {{ button }}
</div>
