{% if bordered %}
  {% set attributes = attributes.addClass('fr-downloads-group--bordered') %}
{% endif %}

{% set title_tag = title_tag ?: 'h4' %}

{% if downloads %}
  <div{{ attributes.addClass('fr-downloads-group') }}>
    {% if title %}
      <{{ title_tag }} class="fr-downloads-group__title">{{ title }}</{{ title_tag }}>
    {% endif %}
    <ul>
      {% for download in downloads %}
        <li>{{ download }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
