{% if items.pages %}
  <nav{{ attributes.addClass('fr-pagination').setAttribute('role', 'navigation').setAttribute('aria-label', 'Pagination'|t) }}>
    <ul class="fr-pagination__list pager__items js-pager__items">
      {% if not items.first %}
        {% set first = {
          attributes: create_attribute()
        } %}
      {% else %}
         {% set first = items.first %}
      {% endif %}
      <li>
        <a{{ first.attributes.addClass('fr-pagination__link', 'fr-pagination__link--first') }} href="{{ first.href }}">
          {{ 'First page'|t }}
        </a>
      </li>
      {% if not items.previous %}
        {% set previous = {
          attributes: create_attribute()
        } %}
      {% else %}
        {% set previous = items.previous %}
      {% endif %}
        <li>
          <a{{ previous.attributes.addClass('fr-pagination__link', 'fr-pagination__link--prev', 'fr-pagination__link--lg-label') }} href="{{ previous.href }}">
            {{ 'Previous page'|t }}
          </a>
        </li>
      {% if ellipses.previous %}
        <li><a class="fr-pagination__link fr-hidden fr-unhidden-lg" href="">...</a></li>
      {% endif %}
      {% for key, item in items.pages %}
        <li>
          {% if current == key %}
            <a{{ item.attributes.addClass('fr-pagination__link').setAttribute('aria-current', 'page').setAttribute('href', item.href).setAttribute('title', 'Page @key'|t({'@key': key})) }}>
              {{ key }}
            </a>
          {% elseif key - current > 1 or key - current < -1 %}
            <a{{ item.attributes.addClass('fr-pagination__link', 'fr-hidden', 'fr-unhidden-lg').setAttribute('href', item.href).setAttribute('title', 'Page @key'|t({'@key': key})) }}>
              {{ key }}
            </a>
          {% else %}
            <a{{ item.attributes.addClass('fr-pagination__link').setAttribute('href', item.href).setAttribute('title', 'Page @key'|t({'@key': key})) }}>
              {{ key }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
      {% if ellipses.next %}
        <li><a class="fr-pagination__link fr-hidden fr-unhidden-lg" href="">...</a></li>
      {% endif %}
      {% if not items.next %}
        {% set next = {
          attributes: create_attribute()
        } %}
      {% else %}
        {% set next = items.next %}
      {% endif %}
      <li>
        <a{{ next.attributes.addClass('fr-pagination__link', 'fr-pagination__link--next', 'fr-pagination__link--lg-label') }} href="{{ next.href }}">
          {{ 'Next page'|t }}
        </a>
      </li>
      {% if not items.last %}
        {% set last = {
          attributes: create_attribute()
        } %}
      {% else %}
        {% set last = items.last %}
      {% endif %}
      <li>
        <a{{ last.attributes.addClass('fr-pagination__link', 'fr-pagination__link--last') }} href="{{ last.href }}">
          {{ 'Last page'|t }}
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
