{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('fr-content-media--' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}
{% if image %}
  <figure{{ attributes.addClass('fr-content-media').setAttribute('role', 'group') }}>
    <div class="fr-content-media__img">
      {{ image }}
    </div>
    {% if caption %}
      <figcaption class="fr-content-media__caption">{{ caption }}</figcaption>
    {% endif %}
  </figure>
{% elseif video %}
  <div{{ attributes.addClass('fr-content-media') }}>
    <div class="fr-responsive-vid{{ ratio == '4x3' ? ' fr-responsive-vid--4x3' }}">
      {{ video }}
    </div>
    {% if caption %}
      <div class="fr-content-media__caption">{{ caption }}</div>
    {% endif %}
    {% if transcription_link %}
      <div class="fr-content-media__transcription">
        {{ transcription_link }}
      </div>
    {% endif %}
  </div>
{% endif %}
