{% if title %}
  <section{{ attributes.addClass('fr-accordion') }}>
    {% set id = 'accordion-'~random() %}
    <h3 class="fr-accordion__title">
      <button class="fr-accordion__btn"
              aria-expanded="false"
              aria-controls="{{ id }}">
        {{ title }}
      </button>
    </h3>
    <div class="fr-collapse" id="{{ id }}">
      {{ content }}
    </div>
  </section>
{% endif %}
