{% if title %}
  <section{{ attributes.addClass('fr-accordion') }}>
    {% set id = 'accordion-' ~ random() %}
    {% set title_tag = title_tag|default('h3') %}
    <{{ title_tag }} class="fr-accordion__title">
      <button class="fr-accordion__btn"
              aria-expanded="false"
              aria-controls="{{ id }}"
              type="button">
        {{ title }}
      </button>
    </{{ title_tag }}>
    <div class="fr-collapse" id="{{ id }}">
      {{ content }}
    </div>
  </section>
{% endif %}
