<header{{ attributes.addClass('fr-header').setAttribute('role', 'banner') }}>
  <div class="fr-header__body">
    <div class="fr-container">
      <div class="fr-header__body-row">
        <div class="fr-header__brand fr-enlarge-link">
          <div class="fr-header__brand-top">

            {# Main logo #}
            <div class="fr-header__logo">
              <a href="/" title="{{ 'Homepage'|t }}">
                <p class="fr-logo"{% if logo.title %} title="{{ logo.title }}"{% endif %}>
                  {% if logo.text %}
                    {{ logo.text }}
                  {% else %}
                    République
                    <br>
                    Française
                  {% endif %}
                </p>
              </a>
            </div>

            {# Operator logo #}
            {% if operator_logo %}
              <div class="fr-header__operator">
                {{ operator_logo }}
              </div>
            {% endif %}

            {# Header navbar #}
            {% if tools_search or navbar %}
              <div class="fr-header__navbar">
                {% if tools_search %}
                  {% set search_mid = 'modal-' ~ random() %}
                  <button class="fr-btn--search fr-btn" data-fr-opened="false" aria-controls="{{ search_mid }}" title="{{ 'Search'|t }}">
                    {{ 'Search'|t }}
                  </button>
                {% endif %}
                {% if navbar %}
                  {% set mobile_menu_mid = 'modal-' ~ random() %}
                  <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="{{ mobile_menu_mid }}" aria-haspopup="menu" title="{{ 'Menu'|t }}" id="fr-btn-menu-mobile">
                    {{ 'Menu'|t }}
                  </button>
                {% endif %}
              </div>
            {% endif %}
          </div>
          {# Header service #}
          <div class="fr-header__service">
            {# Header service title #}
            <a href="/" title="{{ 'Homepage'|t }}">
              <p class="fr-header__service-title">{{ service_title }}</p>
            </a>
            {# Header service tagline #}
            {% if service_tagline %}
              <p class="fr-header__service-tagline">{{ service_tagline }}</p>
            {% endif %}
          </div>
        </div>

        {# Header tools #}
        {% if tools_links or tools_search %}
          <div class="fr-header__tools">
            {# Header tools links #}
            {% if tools_links %}
              <div class="fr-header__tools-links">
                {{ tools_links }}
              </div>
            {% endif %}
            {# Header tools bottom (can be used for search bar) #}
            {% if tools_search %}
              <div class="fr-header__search fr-modal" id="{{ search_mid }}">
                <div class="fr-container fr-container-lg--fluid">
                  <button class="fr-btn fr-btn--close" aria-controls="{{ search_mid }}" title="{{ 'Close'|t }}">{{ 'Close'|t }}</button>
                  {{ tools_search }}
                </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if navbar %}
    <div class="fr-header__menu fr-modal" id="{{ mobile_menu_mid }}" aria-labelledby="fr-btn-menu-mobile">
      <div class="fr-container">
        <button class="fr-btn fr-btn--close" aria-controls="{{ mobile_menu_mid }}" title="{{ 'Close'|t }}">{{ 'Close'|t }}</button>
        <div class="fr-header__menu-links"></div>
        {{ navbar }}
      </div>
    </div>
  {% endif %}
</header>
