{% if items %}
  <div{{ attributes.addClass('fr-tabs') }}>
    <ul class="fr-tabs__list" role="tablist" aria-label="{{ label }}">
      {% for item in items %}
        <li role="presentation">
          {% set button_attributes = create_attribute({'id': 'tabpanel-'~item.uniq, 'aria-controls': 'tabpanel-'~item.uniq~'-panel', 'role': 'tab'}) %}
          {% if item.icon %}
            {% set button_attributes = button_attributes.addClass(['fr-tabs__tab--icon-left', item.icon]) %}
          {% endif %}
          {% set button_attributes = button_attributes.setAttribute('tabindex', loop.first ? 0 : -1).setAttribute('aria-selected', loop.first ? 'true' : 'false') %}
          <button{{ button_attributes.addClass('fr-tabs__tab') }}>
            {{ item.title }}
          </button>
        </li>
      {% endfor %}
    </ul>
    {% for item in items %}
      {% set div_attributes = create_attribute({'id': 'tabpanel-'~item.uniq~'-panel', 'aria-labelledby': 'tabpanel-'~item.uniq, 'role': 'tabpanel', 'tabindex': 0}) %}
      {% if loop.first %}
        {% set div_attributes = div_attributes.addClass('fr-tabs__panel--selected') %}
      {% endif %}
      <div{{ div_attributes.addClass('fr-tabs__panel') }}>
        <p>{{ item.content|raw }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}
