{% if variant is not empty and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('fr-alert--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}
{% set title_tag = title_tag|default('p') %}

<div{{ attributes.addClass('fr-alert')}}>
  {% if title %}
    <{{ title_tag }} class="fr-alert__title">{{ title }}</{{ title_tag }}>
  {% endif %}
    {{ message }}
  {% if dismissible %}
    {% set close_title = close_title|default('Close'|t) %}
    <button{% if dismissible == 'core' %} onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert);"{% endif %} class="fr-btn fr-btn--close" title="{{ close_title }}">{{ close_title }}</button>
  {% endif %}
</div>
