{% if variant is not empty and variant|lower != 'default' %}
  {% set variants = variant|split('__') %}
  {% for variant in variants %}
    {% set attributes = attributes.addClass('fr-alert--' ~ variant|lower|replace({'_': '-'})) %}
  {% endfor %}
{% endif %}
{% set title_tag = title_tag ?: 'p' %}

<div{{ attributes.addClass('fr-alert')}}>
  {% if title %}
    <{{ title_tag }} class="fr-alert__title">{{ title }}</{{ title_tag }}>
  {% endif %}
    {{ message|raw }}
  {% if dismissible %}
    <button{% if dismissible == 'core' %} onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert);"{% endif %} class="fr-btn fr-btn--close" title="{{ close_title ?: 'Close'|t }}">{{ close_title ?: 'Close'|t }}</button>
  {% endif %}
</div>
